:root {
  --color-primary: #e74c3c;
  --color-secondary: #9c372c;
}

html, body {
  margin: 0;
  font-family: "Open Sans";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

header {  
  height: 100vh;
  background-image: url('img/Background.png');
  background-position: center;
  background-size: cover;
  color: #fff;
}

.navbar {
  width: 100%;
  height: auto;
}

.navbar-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.navbar-brand {
  margin: auto 0;
}

.navbar-brand img {
  width: 120px;
}

.navbar-nav {
  display: flex;
}

.navbar-nav li {
  padding: 0 20px;
}

.navbar-nav li a {
  color: #fff;
  font-size: 12px;
  padding-bottom: 15px;
}

#currentPage {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  font-weight: bold;
}

.navbar-nav li a:hover {
  color: var(--color-primary);
}

.header-content {
  width: 92%;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-arrow-r {
  transform: scaleX(-1);
  background-image: url('img/Arrow.png');
  width: 45px;
  height: 45px;
}

.header-arrow-r:hover{
  transform: scaleX(1);
  background-image: url('img/Arrow-Primary.png');
  cursor: pointer;
}

.header-arrow-l {
  background-image: url('img/Arrow.png');
  width: 45px;
  height: 45px;
}

.header-arrow-l:hover{
  transform: scaleX(-1);
  background-image: url('img/Arrow-Primary.png');
  cursor: pointer;
}

.header-main {
  width: 60%;
  text-align: center;
}

.btn {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-sm {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
}

header .btn {
  margin: 0 10px;
}

.btn-primary {
  padding: 15px 36px;
  background-color: var(--color-primary); 
  -webkit-transition: all 0.3s ease-in-out; 
}

.btn-primary:hover {
  background-color: var(--color-secondary);
  -webkit-transition: all 0.3s ease-in-out;
}

.btn-light-outline {
  padding: 14px 49px;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in-out;
}

.btn-light-outline:hover {
  background-color: rgba(0, 0, 0, 0.4);  
  -webkit-transition: all 0.3s ease-in-out;
}

header h1 {
  font-size: 4vw;
  letter-spacing: .5rem;
  margin: 10px 0;
}

header h3 {
  font-weight: 400;
  font-size: 1.1vw;
  letter-spacing: .05rem;
}

header p {
  width: 60%;
  margin: 0 auto;
  line-height: 1.7;
  padding: 30px 0 60px;
  font-size: 13px;
}

/* Backgrounds */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-light {
  background-color: #f4f5f9;
}

.bg-dark {
  background-color: #202020;
}

/* Text Styling */

.text-center {
  text-align: center;
}

.text-primary{
  color: var(--color-primary);
}

.text-light {
  color: #AAAAAA;
}

.text-dark {
  color: #6a6a6a;
}

.icon-text-lg {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}
.text-sm {
  font-size: 11px;
  line-height: 2;
}

.text-md {
  font-size: 13px;
  line-height: 2;
}

.icon-break {
  width: 40px;
  height: 1px;
  background-color: #D5D5D5;
  margin: 0 auto;
}

.section-one {
  border-bottom: 1px solid #D5D5D5;
}

.section-container {
  width: 60%;
  margin: 0 auto;
}

.four-columns {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.icon {
  text-align: center;
  padding: 0 3%;
}

.outline {
  height: 65px;
  width: 65px;
  border: 1px solid #D5D5D5; 
  margin: 0 auto;
  display: flex;
  align-items: center; 
}

.outline img {
  margin: auto auto;
}

.section-two{
  width: 100%;
  padding: 120px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
  text-transform: uppercase;
  color: #6a6a6a;
  letter-spacing: .1rem;
}

.two-columns .col-l {
  margin: auto 0;
  width: 55%;
}

.two-columns .col-l img{ 
  width: 83%;
}

.two-columns .col-r {
  margin: auto 0;
  width: 45%;
}

.two-columns .col-r .text-md {
  font-size: 12px;
}
.sub-heading{
  display: flex;
}

.sub-heading h2{
  padding-left: 14px;
}

.sub-heading div {
  margin-top: 5px;
  width: 4px;
  height: 26px;
  background-color: var(--color-primary);
}

.section-three {
  width: 100%;
  background-image: url('img/Services.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-attachment: local;
}

.services-contain {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.services-content {
  padding: 100px 0;
  margin-right: 543px;
}

.service {
  display: flex;
}

.section-three .sub-heading {
  width: 100%;
  margin-left: 50%;
}

.section-three .sub-heading h2 {
  padding: 0 14px 0 0;
  color: #fff;
}

.service-l{
  width: 75%;
  padding-right: 35px;
  text-align: right;
}

.service-l .text-sm{
  margin-top: -10px;
}

.circle {
  margin: auto 0;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 40px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-dashes {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
  padding-left: 3%;
}

.dash-dark {
  background-color: #3e3e3e;
  width: 1px;
  height: 25px;
}

.dash-primary {
  background-color: var(--color-primary);
  width: 2px;
  height: 25px;
}

.section-five{
  padding: 120px 0;
}

.heading {
  text-align: center;
}

.case-content {
  width: 100%;
  height: 650px;
  margin-top: 20px;
  background-image: url('img/Case.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 500px 600px;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

.case-main{
  width: 45%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  text-align: center;
  padding: 80px 50px 50px 50px;
  background-color: #fff;
}

.case-main .text-sm {
  padding-bottom: 20px;
}

.spacing {
  height: 85px;
}

.section-four {
  padding-top: 120px;
}

.filters {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 35px;
}

.filter {
  font-size: 12px;
  color: #AAAAAA;
  padding-left: 0;
  
}

.filter:hover {
  color: var(--color-primary);
}

#filterSelected {
  font-weight: bold;
  color: var(--color-primary);
}

.filters li {
  font-size: 12px;
  color: #AAAAAA;
  padding: 0 6px;
}

.works {
  max-width: 100%;
  display: flex;
}

.works-l{
  display: flex;
}
.works-r{
  display: flex;
}

.work {
  width: 25vw;
  height: 25vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.work:hover {
  box-shadow: inset 0 0 0 25vw rgba(231, 76, 60, .9);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out; 
}

#work1 {
  background-image: url(img/work1.png);
}

#work2 {
  background-image: url(img/work2.png);
}

#work3 {
  background-image: url(img/work3.png);
}

#work4 {
  background-image: url(img/work4.png);
}

#work5 {
  background-image: url(img/work5.png);
}

#work6 {
  background-image: url(img/work6.png);
}

#work7 {
  background-image: url(img/work7.png);
}

#work8 {
  background-image: url(img/work8.png);
}

.section-six {
  width: 100%;
  background-image: url('img/Background-Six.png');
}

.section-six .section-container {
  display: flex;
  justify-content: space-between;
}

.col {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.circle-outline {
  margin-bottom: 30px;
  width: 75px;
  height: 75px;  
  border-radius: 40px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-outline img {
  max-width: 25px;
  max-height: 25px;
}

.section-six h2 {
  color: #fff;
  margin: 0;
}

.section-six p {
  color: #fff;
  font-size: 12px;
  margin-top: 3px;
}

.section-seven {
  width: 100%;
}

.section-seven .heading{
  padding: 100px 0 50px;
}

